/*********/
/*АДАПТИВ*/
/*********/

@media(max-width: 1600px) {
    .header__inner{
        height: 150px;
    }
    .menu__list{
        gap: 0 35px;
    }
    .header__icons{
        gap: 0 10px;
    }
    .header__search{
        width: 200px;
        background-position: 225px;
    }
    .top{
        background-position: top center;
    }
    .promo,
    .about,
    .products,
    .review,
    .offer,
    .banner{
        padding: 140px 0;
    }
    .promo-1,
    .promo-2{
        min-width: 600px;
        min-height: 323px;
    }
    .about__text{
        max-width: 500px;
    }
    .eco__content {
        padding: 140px 0 140px 781px;
    }
}
@media(max-width: 1440px) {
    .products__item{
        max-width: 23%;
    }
}
@media(max-width: 1400px) {
    .header__inner{
        height: 120px;
    }
    .menu__list{
        gap: 0 25px;
    }
    .header__search{
        width: 170px;
        background-position: 195px;
    }
    .promo,
    .about,
    .products,
    .review,
    .offer,
    .banner{
        padding: 120px 0;
    }
    .eco__content {
        padding: 120px 0 120px 700px;
    }
}
@media(max-width: 1280px) {
    
    .menu__list{
        transform: translateY(-100%);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        max-width: 480px;
        margin: 0 auto;
        background-color: #274C5B;
        color: #ffffff;
        display: block;
        text-align: center;
        padding-top: 120px;
        padding-bottom: 50px;
        transition: transform .6s ease;
    }
    .menu__list.menu__list--open{
        transform: translateY(0);
    }
    .menu__close-btn{
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .menu__item{
        margin-bottom: 30px;
        font-size: 24px;
    }
    .mobile-menu{
        padding-top: 60px;
        margin: 60px 30px;
        border-top: solid 2px #F7F2EA;
    }
    .header__mobile-search{
        background-position: 300px;
        width: 270px;
    }
    .menu__btn{
        display: flex;
    }
    .menu__close{
    display: block;
    }
    .promo,
    .about,
    .products,
    .review,
    .offer{
        padding: 80px 0;
    }
    .promo-1,
    .promo-2{
        min-width: 400px;
        min-height: 215px;
    }
    .promo-1__pretitle,
    .promo-2__pretitle{
        margin: 40px 0 20px 10px;
    }
    .promo-1__title,
    .promo-2__title{
        margin-left: 10px;
        width: 210px;
        font-size: 32px;
        line-height: 35px;
    }
    .about__img img{
        max-width: 100%;
    }
    .about__title{
        font-size: 40px;
        max-width: 500px;
    }
    .products__items{
        margin-bottom: 50px;
    }
    .products__item{
        max-width: 30%;
    }
    .review{
        background-image: none;
        background-color: #F9F8F8;
        min-height: auto;
    }
    .review__title{
        font-size: 40px;
        margin-bottom: 35px;
    }
    .offer__title{
        font-size: 40px;
    }
    .footer__contacts{
        padding-right: 25px;
    }
    .footer__content{
        padding: 0 25px;
    }
    .footer__content-text{
        width: 350px;
    }
    .footer__pages{
        padding-left: 25px;
    }
    .eco__content {
        padding: 50px 0 50px 640px;
    }
    .eco__content-title{
        font-size: 40px;
        line-height: normal;
    }
    .banner__item-1,
    .banner__item-2,
    .banner__item-3{
        padding: 150px 0;
        height: 326px;
    }
    .banner__btn {
        padding: 20px 55px;
    }
}
@media(max-width: 1024px) {
    .header__search{
        width: 100px;
        background-position: 130px;
    }
    .pretitle{
        font-size: 24px;
    }
    .top__content{
        padding-top: 150px;
    }
    .top__title{
        font-size: 50px;
        line-height: 59px;
        width: 430px;
    }
    .about__img img{
        width: 380px;
    }
    .about__title,
    .products__title{
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 0;
    }
    .about__text{
        margin-bottom: 0;
    }
    .products__items{
        margin-top: 40px;
    }
    .products__item-price{
        font-size: 15px; 
    }
    .products__item-price span{
        font-size: 12px;
    }
    .review__title{
        font-size: 32px;
        margin-bottom: 25px;
    }
    .review__slides{
        margin-bottom: 50px;
    }
    .review__stat{
        padding-top: 50px;
    }
    .offer__title{
        font-size: 32px;
    }
    .eco__content {
        padding: 30px 0 30px 500px;
    }
    .eco__content-title{
        font-size: 32px;
    }
}
@media(max-width: 900px) {
    .footer__content-text{
        width: 290px;
    }
    .promo,
    .about,
    .products,
    .review,
    .offer,
    .banner{
        padding: 75px 0;
    }
    .promo-1,
    .promo-2{
        min-width: 300px;
        min-height: 161px;
    }
    .promo-1__pretitle,
    .promo-2__pretitle{
        margin: 25px 0 20px 10px;
    }
    .promo-1__title,
    .promo-2__title{
        width: 180px;
        font-size: 23px;
        line-height: 30px;
    }
    .about__img img{
        min-width: 330px;
    }
    .about__title{
        font-size: 26px;
        line-height: 33px;
        max-width: 395px;
    }
    .about__content-title{
        font-size: 18px;
    }
    .about__content-img{
        width: 80px;
        height: 80px;
    }
    .about__text{
        max-width: 380px;
    }
    .about__text,
    .about__content-text{
        font-size: 16px;
    }
    .products__item{
        padding: 15px 15px 10px 15px;
    }
    .review__title{
        font-size: 26px;
        line-height: normal;
        margin-bottom: 20px;
    }
    .review__stat-item {
        width: 150px;
        height: 150px;
    }
    .review__stat-title {
        padding-top: 35px;
        font-size: 40px;
        margin-bottom: 5px;
    }
    .review__stat-text {
        font-size: 16px;
    }
    .offer__title{
        font-size: 26px;
    }
    .eco{
        background-image: none;
    }
    .eco__content {
        padding: 30px 0;
    }
    .eco__content-pretitle,
    .eco__content-title {
        text-align: center;
    }
    .eco__content-title{
        font-size: 26px;
    }
    .content__item-title {
        font-size: 20px;
    }
    .content__item-text {
        font-size: 16px;
        text-align: justify;
    }
    .banner__btn {
        font-size: 18px;
        padding: 20px 55px;
    }
}
@media(max-width: 768px) {
    .header__inner{
        height: 80px;
    }
    .menu__btn{
        display: flex;
    }
    .header__icons{
        display: none;
    }
    .mobile-nav{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
    }
    .header__mobile-icons{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 25px;
    }
    .header__mobile-icon-cart{
        color: #ffffff;
        margin: 0 auto;
    }
    .about__inner{
        flex-direction: column-reverse;
    }
    .about__content{
        width: 100%;
        justify-content: center;
    }
    .about__title{
        max-width: 100%;
    }
    .about__text{
        max-width: 100%;
        text-align: justify;
    }
    .about__content-items{
        display: flex;
        flex-direction: row;
        gap: 0 15px;
    }
    .about__content-img{
        width: 60px;
        height: 60px;
    }
    .about__content-title{
        font-size: 16px;
        line-height: normal;
        margin-bottom: 3px;
    }
    .about__content-text{
        font-size: 14px;
        line-height: normal;
        max-width: 250px;
        text-align: justify;
    }
    .about__btn{
        margin: 0 auto;
    }
    .products__item-stars{
        max-width: 50px;
    }
    .footer__inner{
        flex-direction: column;
    }
    .footer__contacts{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        border-right: none;
        margin-bottom: 40px;
        padding: 0;
    }
    .footer__content{
        padding: 0;
        margin-bottom: 40px;
    }
    .footer__content-text{
        width: 100%;
    }
    .footer__pages{
        width: 100%;
        padding: 0;
        border-left: none;
        margin: 0 auto;
        text-align: center;
        border-right: none;
    }
    .review__item-stars{
        margin: 0 auto;
    }
    .review__stat-item {
        width: 120px;
        height: 120px;
    }
    .review__stat-title {
        padding-top: 30px;
        font-size: 30px;
        margin-bottom: 5px;
    }
    .review__stat-text {
        font-size: 12px;
    }
    .banner__item-1,
    .banner__item-2,
    .banner__item-3{
        padding: 100px 0;
        height: 220px;
    }
    .banner__btn {
        font-size: 16px;
        padding: 15px 35px;
    }
}
@media (max-width: 680px) {
    .promo,
    .about,
    .products,
    .review,
    .offer,
    .banner{
        padding: 50px 0;
    }
    .promo-1,
    .promo-2{
        min-width: 200px;
        min-height: 108px;
    }
    .promo-1__pretitle,
    .promo-2__pretitle{
        margin: 15px 0 10px 10px;
    }
    .promo-1__title,
    .promo-2__title{
        width: 106px;
        font-size: 16px;
        line-height: 18px;
    }
    .products__item{
        max-width: 46%;
    }
    .offer__title{
        margin-bottom: 25px;
        line-height: normal;
    }
    .offer__top{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .banner__inner{
        flex-direction: column;
        gap: 20px 0;
    }
    .banner__item-1,
    .banner__item-2,
    .banner__item-3{
        padding: 60px 0;
        width: 100%;
        height: 120px;
        background-position: bottom 50% center;
}
}
@media (max-width: 570px) {
    .review__text{
        font-size: 16px;
    }
    .review__stat{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px 0;
    }
    .review__stat-item{
        margin: 0 auto;
        
    }
}
@media (max-width: 480px) {
    .header__mobile-search{
        background-position: 240px;
        width: 210px;
    }
    .top__content{
        padding-top: 100px;
    }
    .top__title{
        font-size: 40px;
        line-height: 59px;
        width: 290px;
    }
    .promo,
    .about,
    .products,
    .review,
    .offer,
    .banner{
        padding: 40px 0;
    }
    .promo__inner{
        flex-direction: column;
        gap: 20px 0;
    }
    .about__content-items{
        flex-direction: column;
        gap: 15px 0;
    }
    .about__content-text{
        max-width: 100%;
    }
    .products__item{
        border-radius: 20px;
    }
    .products__item-filter{
        font-size: 12px;
    }
    .products__item-title{
        font-size: 14px;
        text-align: center;
    }
    .products__item-price{
        font-size: 12px; 
    }
    .products__item-price span{
        font-size: 10px;
    }
    .products__item-stars{
        max-width: 40px;
    }
}
@media (max-width: 400px) {
    .products__item{
        padding: 12px 12px 8px 12px;
    }
}
@media (max-width: 360px) {
    .top{
        min-height: 600px;
    }
    .top__content{
        padding-top: 60px;
    }
    .top__title{
        margin-bottom: 140px;
    }
    .about__img img{
        margin: 0 auto;
        min-width: 280px;
    }
    .products__item-filter{
        font-size: 9px;
    }
    .products__item-title{
        font-size: 13px;
    }
    .products__item-price{
        font-size: 10px; 
    }
    .products__item-price span{
        font-size: 8px;
    }
    .products__item-stars{
        max-width: 35px;
    }
    .offer__title{
        font-size: 24px;
    }
}
@media(max-width: 320px) {

}