/*********/
/*АДАПТИВ*/
/*********/

@media(max-width: 1600px) {
    .header__inner{
        height: 150px;
    }
    .menu__list{
        gap: 0 35px;
    }
    .header__icons{
        gap: 0 10px;
    }
    .header__search{
        width: 200px;
        background-position: 225px;
    }
    .top{
        background-position: top center;
    }
    .section-padding{
        padding: 140px 0;
    }
    .promo-1,
    .promo-2{
        min-width: 600px;
        min-height: 323px;
    }
    .about__text{
        max-width: 500px;
    }
    .eco__content {
        padding: 140px 0 140px 781px;
    }
    .page-about__about-img{
        max-width: 650px;
        margin-left: 0;
    }
}
@media(max-width: 1440px) {
    .products__item{
        max-width: 23%;
    }
}
@media(max-width: 1400px) {
    .header__inner{
        height: 120px;
    }
    .menu__list{
        gap: 0 25px;
    }
    .header__search{
        width: 170px;
        background-position: 195px;
    }
    .section-padding{
        padding: 120px 0;
    }
    .eco__content {
        padding: 120px 0 120px 700px;
    }
    .news__item-1,
    .news__item-2{
        width: 550px;
        height: 426px;
    }
    .news__date{
        margin-bottom: 90px;
    }
    .news__box{
        width: 490px;
        height: 275px;
        border-radius: 30px;
        padding: 30px 30px 30px;
    }
    .page-about-top{
        background-position: bottom left;
        min-height: 450px;
    }
    .page-about__inner{
        gap: 0 40px;
    }
    .page-about__about-img{
        max-width: 600px;
    }
    .page-about__choose-top-img{
        max-width: 600px;
    }
    .page-about__offer {
        margin-bottom: 100px;
    }
}
@media(max-width: 1280px) {
    .h2-title{
        font-size: 40px;
    }
    .h3-title{
        font-size: 32px;
    }
    .menu__list{
        transform: translateY(-100%);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        max-width: 480px;
        margin: 0 auto;
        background-color: #274C5B;
        color: #ffffff;
        display: block;
        text-align: center;
        padding-top: 120px;
        padding-bottom: 50px;
        transition: transform .6s ease;
    }
    .menu__list.menu__list--open{
        transform: translateY(0);
    }
    .menu__close-btn{
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .menu__item{
        margin-bottom: 30px;
        font-size: 24px;
    }
    .mobile-menu{
        padding-top: 60px;
        margin: 60px 30px;
        border-top: solid 2px #F7F2EA;
    }
    .header__mobile-search{
        background-position: 300px;
        width: 270px;
    }
    .menu__btn{
        display: flex;
    }
    .menu__close{
    display: block;
    }
    .section-padding{
        padding: 80px 0;
    }
    .promo-1,
    .promo-2{
        min-width: 400px;
        min-height: 215px;
    }
    .promo-1__pretitle,
    .promo-2__pretitle{
        margin: 40px 0 20px 10px;
    }
    .promo-1__title,
    .promo-2__title{
        margin-left: 10px;
        width: 210px;
        font-size: 32px;
        line-height: 35px;
    }
    .about__img img{
        max-width: 100%;
    }
    .about__title{
        max-width: 500px;
    }
    .products__items{
        margin-bottom: 50px;
    }
    .products__item{
        max-width: 30%;
    }
    .review{
        background-image: none;
        background-color: #F9F8F8;
        min-height: auto;
    }
    .review__title{
        font-size: 40px;
        margin-bottom: 35px;
    }
    .offer__title{
        font-size: 40px;
    }
    .footer__contacts{
        padding-right: 25px;
    }
    .footer__content{
        padding: 0 25px;
    }
    .footer__content-text{
        width: 350px;
    }
    .footer__pages{
        padding-left: 25px;
    }
    .eco__content {
        padding: 50px 0 50px 640px;
    }
    .eco__content-title{
        font-size: 40px;
        line-height: normal;
    }
    .banner__item-1,
    .banner__item-2,
    .banner__item-3{
        padding: 150px 0;
        height: 326px;
    }
    .banner__btn {
        padding: 20px 55px;
    }
    .news{
        padding-bottom: 180px;
    }
    .news__item-content{
        margin-top: 20px;
        margin-left: 20px;
    }
    .news__item-1,
    .news__item-2{
        width: 425px;
        height: 329px;
    }
    .news__title{
        font-size: 40px;
        line-height: normal;
    }
    .news__date{
        margin-bottom: 60px;
    }
    .news__box{
        width: 385px;
        height: 305px;
        border-radius: 30px;
        padding: 30px;
    }
    .news__text{
        margin-top: auto;
    }
    .news-box__btn{
        margin-top: auto;
    }
    .subscribe__inner{
        padding: 0 30px;
        height: 250px;
    }
    .subscribe__title{
        font-size: 40px;
        line-height: normal;
    }
    .page-about__about-content-box{
        justify-content: space-evenly;
    }
    .about-content-item-text{
        font-size: 18px;
    }
    .page-about__about-img,
    .page-about__choose-top-img{
        max-width: 450px;
    }
    .about-content-item-text{
        max-width: 145px;
    }
    .page-about__inner{
        gap: 0 20px;
    }
    .page-about__team-item-title {
        margin-bottom: 15px;
    }
    .page-about__offer {
        margin-bottom: 70px;
    }
}
@media(max-width: 1024px) {
    .h1-title{
        font-size: 50px;
    }
    .h2-title{
        font-size: 32px;
    }
    .header__search{
        width: 100px;
        background-position: 130px;
    }
    .pretitle{
        font-size: 24px;
    }
    .top__content{
        padding-top: 150px;
    }
    .top__title,
    .h1-title{
        line-height: 59px;
        max-width: 430px;
    }
    .about__img img{
        width: 380px;
    }
    .about__title,
    .products__title{
        line-height: 38px;
        margin-bottom: 0;
    }
    .about__text{
        margin-bottom: 0;
    }
    .products__items{
        margin-top: 40px;
    }
    .products__item-price{
        font-size: 15px; 
    }
    .products__item-price span{
        font-size: 12px;
    }
    .review__title{
        margin-bottom: 25px;
    }
    .review__slides{
        margin-bottom: 50px;
    }
    .review__stat{
        padding-top: 50px;
    }
    .eco__content {
        padding: 30px 0 30px 500px;
    }
    .news__title{
        max-width: 555px;
    }
    .subscribe-email {
        width: 275px;
    }
    .page-about__about-content-title{
        max-width: 330px;
        line-height: normal;
    }
    .page-about__choose-title{
        max-width: 340px;
        line-height: normal;
    }
    .choose__points-text{
        margin-left: 0;
    }
    .page-about__team-item-img {
        margin-bottom: 20px;
    }
    .page-about__team-item-icons {
        margin-left: 10px;
    }
    .page-about__top,
    .page-shop__top{
        background-position-x: 50%;
        min-height: 300px;
    }
}
@media(max-width: 900px) {
    .h2-title{
        font-size: 26px;
    }
    .h3-title{
        font-size: 23px;
    }
    .h6-title{
        font-size: 18px;
    }
    .footer__content-text{
        width: 290px;
    }
    .section-padding{
        padding: 75px 0;
    }
    .promo-1,
    .promo-2{
        min-width: 300px;
        min-height: 161px;
    }
    .promo-1__pretitle,
    .promo-2__pretitle{
        margin: 25px 0 20px 10px;
    }
    .promo-1__title,
    .promo-2__title{
        width: 180px;
        line-height: 30px;
    }
    .about__img img{
        min-width: 330px;
    }
    .about__title{
        line-height: 33px;
        max-width: 395px;
    }
    .about__content-img{
        width: 80px;
        height: 80px;
    }
    .about__text{
        max-width: 380px;
    }
    .about__text,
    .about__content-text{
        font-size: 16px;
    }
    .products__item{
        padding: 15px 15px 10px 15px;
    }
    .review__title{
        line-height: normal;
        margin-bottom: 20px;
    }
    .review__stat-item {
        width: 150px;
        height: 150px;
    }
    .review__stat-title {
        padding-top: 35px;
        font-size: 40px;
        margin-bottom: 5px;
    }
    .review__stat-text {
        font-size: 16px;
    }
    .eco{
        background-image: none;
    }
    .eco__content {
        padding: 30px 0;
    }
    .eco__content-pretitle,
    .eco__content-title {
        text-align: center;
    }
    .content__item-title {
        font-size: 20px;
    }
    .content__item-text {
        font-size: 16px;
        text-align: justify;
    }
    .banner__btn {
        font-size: 18px;
        padding: 20px 55px;
    }
    .news{
        padding-bottom: 155px;
    }
    .news__item-1,
    .news__item-2{
        width: 360px;
        height: 280px;
    }
    .news__date{
        width: 50px;
        height: 50px;
        margin-bottom: 40px;
    }
    .news__day{
        font-size: 22px;
        padding-top: 5px;
    }
    .news__month{
        font-size: 16px;
    }
    .news__box{
        width: 320px;
        height: 280px;
        border-radius: 20px;
        padding: 20px;
    }
    .news__author{
        font-size: 14px;
    }
    .news__box-title{
        line-height: normal;
    }
    .news__text{
        font-size: 16px;
        line-height: normal;
        margin-top: auto;
    }
    .news-box__btn{
        margin-top: auto;
    }
    .subscribe__inner{
        padding: 0 20px;
        height: 200px;
    }
    .subscribe-email {
        width: 250px;
    }
    .about-content-item-text {
        max-width: 110px;
    }
    .page-about__about-img {
        max-width: 340px;
    }
    .page-about__about-content-text{
        font-size: 16px;
        text-align: justify;
    }
    .page-about__choose-top-img{
        max-width: 340px;
    }
    .page-about__team-item-title {
        margin-left: 20px;
    }
    .page-about__team-item-info {
        margin: 0 20px 20px;
    }
    .page-about__team-list{
        gap: 10px;
    }
    .page-about__offer {
        margin-bottom: 55px;
    }
    .page-about__offer-img {
        margin-bottom: 12px;
    }
    .products__category-item {
        font-size: 16px;
    }
}
@media(max-width: 768px) {
    .h6-title{
        font-size: 16px;
    }
    .header__inner{
        height: 80px;
    }
    .menu__btn{
        display: flex;
    }
    .header__icons{
        display: none;
    }
    .mobile-nav{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
    }
    .header__mobile-icons{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 25px;
    }
    .header__mobile-icon-cart{
        color: #ffffff;
        margin: 0 auto;
    }
    .about__inner{
        flex-direction: column-reverse;
    }
    .about__content{
        width: 100%;
        justify-content: center;
    }
    .about__title{
        max-width: 100%;
    }
    .about__text{
        max-width: 100%;
        text-align: justify;
    }
    .about__content-items{
        display: flex;
        flex-direction: row;
        gap: 0 15px;
    }
    .about__content-img{
        width: 60px;
        height: 60px;
    }
    .about__content-title{
        line-height: normal;
        margin-bottom: 3px;
    }
    .about__content-text{
        font-size: 14px;
        line-height: normal;
        max-width: 250px;
        text-align: justify;
    }
    .about__btn{
        margin: 0 auto;
    }
    .products__item-stars{
        max-width: 50px;
    }
    .footer__inner{
        flex-direction: column;
    }
    .footer__contacts{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        border-right: none;
        margin-bottom: 40px;
        padding: 0;
    }
    .footer__content{
        padding: 0;
        margin-bottom: 40px;
    }
    .footer__content-text{
        width: 100%;
    }
    .footer__pages{
        width: 100%;
        padding: 0;
        border-left: none;
        margin: 0 auto;
        text-align: center;
        border-right: none;
    }
    .review__item-stars{
        margin: 0 auto;
    }
    .review__stat-item {
        width: 120px;
        height: 120px;
    }
    .review__stat-title {
        padding-top: 30px;
        font-size: 30px;
        margin-bottom: 5px;
    }
    .review__stat-text {
        font-size: 12px;
    }
    .banner__item-1,
    .banner__item-2,
    .banner__item-3{
        padding: 100px 0;
        height: 220px;
    }
    .banner__btn {
        font-size: 16px;
        padding: 15px 35px;
    }
    .news{
        padding-bottom: 100px;
    }
    .news__top{
        flex-direction: column;
        text-align: center;
    }
    .news__title{
        max-width: 80%;
        margin: 0 auto 20px;
    }
    .news__btn{
        margin: 0 auto;
    }
    .news__items{
        gap: 0 10px;
    }
    .news__item-content{
        margin-top: 10px;
        margin-left: 10px;
    }
    .news__item-1,
    .news__item-2{
        width: 320px;
        height: 280px;
    }
    .news__date{
        margin-bottom: 45px;
    }
    .news__box{
        width: 300px;
        height: 187px;
        padding: 10px;
    }
    .news__box-title{
        margin-bottom: 5px;
    }
    .news-box__btn{
        margin-left: auto;
        width: 175px;
        padding: 12px 24px;
    }
    .news-box__btn-text{
        font-size: 20px;
        margin-right: 10px;
    }
    .subscribe__inner{
        padding: 30px;
        flex-direction: column;
    }
    .subscribe__btn{
        margin-left: 15px;
    }
    .page-about-top-title{
        text-shadow: #F7F2EA 1px 0 10px;
    }
    .page-about__inner {
        gap: 20px 0;
        flex-direction: column;
    }
    .page-about__about-content{
        order: -1;
        max-width: 100%;
    }
    .page-about__about-content-title{
        max-width: 100%;
    }
    .page-about__about-btn{
        margin: 58px auto 0;
    }
    .page-about__about-img{
        max-width: 75%;
        margin: 0 auto;
    }
    .page-about__choose-top{
        flex-direction: column;
    }
    .page-about__choose-title,
    .page-about__choose-text,
    .choose__points-text {
        max-width: 100%;
    }
    .page-about__choose-top-img{
        max-width: 75%;
        margin: 0 auto;
    }
    .page-about__team-item-img {
        margin-bottom: 10px;
    }
    .page-about__team-item-title {
        text-align: center;
        margin-bottom: 10px;
        margin-left: 0;
    }
    .page-about__team-item-info {
        flex-direction: column;
        margin: 0 20px 20px;
    }
    .page-about__team-item-prof{
        text-align: center;
        margin-bottom: 10px;
        margin-left: 0;
    }
    .page-about__team-item-social{
        margin: 0 auto;
    }
    .products__category-list {
        flex-wrap: wrap;
        margin-bottom: 20px;
        gap: 20px;
    }
}
@media (max-width: 680px) {
    .h3-title{
        font-size: 16px;
    }
    .section-padding{
        padding: 50px 0;
    }
    .promo-1,
    .promo-2{
        min-width: 200px;
        min-height: 108px;
    }
    .promo-1__pretitle,
    .promo-2__pretitle{
        margin: 15px 0 10px 10px;
    }
    .promo-1__title,
    .promo-2__title{
        width: 106px;
        line-height: 18px;
    }
    .products__item{
        max-width: 46%;
    }
    .offer__title{
        margin-bottom: 25px;
        line-height: normal;
    }
    .offer__top{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .banner__inner{
        flex-direction: column;
        gap: 20px 0;
    }
    .banner__item-1,
    .banner__item-2,
    .banner__item-3{
        padding: 60px 0;
        width: 100%;
        height: 120px;
        background-position: bottom 50% center;
    }
    .news{
        padding-bottom: 80px;
    }
    .news__items{
        flex-wrap: wrap;
        gap: 55px 0;
    }
    .news__item-1,
    .news__item-2{
        width: 100%;
        height: 100%;
    }
    .news__box{
        margin-left: auto;
    }
    .page-about__choose-item {
        width: 235px;
    }
    .page-about__offer {
        margin-bottom: 40px;
    }
    .page-about__top{
        background-position-x: 64%;
        min-height: 280px;
    }

    .page-shop__top{
        background-position-x: 84%;
        min-height: 280px;
    }
    .products__category-list {
        margin-bottom: 20px;
        gap: 15px;
    }
    .products__category-item {
        font-size: 14px;
    }
}
@media (max-width: 570px) {
    .review__text{
        font-size: 16px;
    }
    .review__stat{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px 0;
    }
    .review__stat-item{
        margin: 0 auto;
    }
    .subscribe__inner{
        height: 300px;
    }
    .subscribe__form{
        flex-direction: column;
    }
    .subscribe-email{
        height: 80px;
        margin-bottom: 15px;
        padding: 15px;
    }
    .page-about__choose-item {
        width: 200px;
        height: 280px;
        padding: 25px 15px 15px;
    }
    .choose-item-text {
        line-height: normal;
        font-size: 16px;
    }
    .page-about__team-item-icons{
        width: 15px;
        height: 15px;
    }
    .page-about__offer-items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .products__category-list {
        margin: 0 auto 25px;
        max-width: 340px;
        gap: 10px;
    }
    
}
@media (max-width: 480px) {
    .h1-title{
        font-size: 40px;
    }
    .header__mobile-search{
        background-position: 240px;
        width: 210px;
    }
    .top__content{
        padding-top: 100px;
    }
    .top__title{
        line-height: 59px;
        width: 290px;
    }
    .section-padding{
        padding: 40px 0;
    }
    .promo__inner{
        flex-direction: column;
        gap: 20px 0;
    }
    .about__content-items{
        flex-direction: column;
        gap: 15px 0;
    }
    .about__content-text{
        max-width: 100%;
    }
    .products__item{
        border-radius: 20px;
    }
    .products__item-filter{
        font-size: 12px;
    }
    .products__item-title{
        font-size: 14px;
        text-align: center;
    }
    .products__item-price{
        font-size: 12px; 
    }
    .products__item-price span{
        font-size: 10px;
    }
    .products__item-stars{
        max-width: 40px;
    }
    .news{
        padding-bottom: 60px;
    }
    .subscribe__title{
        max-width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
    .page-about-top{
        min-height: 380px;
    }
    .page-about__about-content-box{
        flex-direction: column;
        margin: 40px auto 0;
        gap: 25px 0;
    }
    .about-content-item-text{
        display: flex;
        align-items: center;
        max-width: 100%;
    }
    .page-about__about-btn{
        margin-top: 30px;
    }
    .page-about__choose-top{
        margin-bottom: 40px;
    }
    .page-about__choose-text,
    .choose__points-text{
        text-align: justify;
    }
    .page-about__choose-list{
        gap: 15px;
    }
    .page-about__choose-item {
        width: 170px;
    }
    .page-about__team-list{
        flex-wrap: wrap;
        gap: 25px;
    }
    .page-about__team-item-title {
        font-size: 25px;
        margin-bottom: 2px;
    }
    .page-about__team-item-info {
        display: flex;
        justify-content: space-between;
        margin: 0 auto 20px;
    }
    .page-about__team-item-icons {
        width: 25px;
        height: 25px;
    }
    
}
@media (max-width: 400px) {
    .products__item{
        padding: 12px 12px 8px 12px;
    }
    .page-about__choose-item {
        width: 100%;
        height: 160px;
        padding: 20px;
        display: grid; 
	    grid-auto-rows: 1fr;
        grid-template-columns: 30% 57%;
        justify-content: space-between;
        gap: 10px 10px;
        place-items: center;
    }
    .choose-item-img{
        grid-area: 1 / 1 / 3 / 2;
    }
    .choose-item-title{
        grid-area: 1 / 2 / 2 / 3;
    }
    .choose-item-text{
        grid-area: 2 / 2 / 3 / 3;
    }
    .choose__points {
        padding: 29px 20px;
        width: 100%;
    }
    .choose-item-img,
    .choose-item-title {
        margin-bottom: 0;
    }
    .choose-item-text {
        font-size: 14px;
    }
    
}
@media (max-width: 360px) {
    .h2-title{
        font-size: 24px;
    }
    .top{
        min-height: 600px;
    }
    .top__content{
        padding-top: 60px;
    }
    .top__title{
        margin-bottom: 140px;
    }
    .about__img img{
        margin: 0 auto;
        min-width: 280px;
    }
    .products__item-filter{
        font-size: 9px;
    }
    .products__item-title{
        font-size: 13px;
    }
    .products__item-price{
        font-size: 10px; 
    }
    .products__item-price span{
        font-size: 8px;
    }
    .products__item-stars{
        max-width: 35px;
    }
    .news__box{
        width: 240px;
        height: 175px;
        padding: 10px;
    }
    .news__text{
        font-size: 14px;
    }
    .news-box__btn{
        width: 140px;
        padding: 8px 15px;
        border-radius: 10px;
    }
    .news-box__btn-text{
        font-size: 16px;
    }
    .about-content-item-text {
        max-width: 160px;
    }
    .products__category-item {
        font-size: 13px;
    }
}
@media(max-width: 320px) {

}